<script type="module" src="/js/admin.js"></script>
<div class="container">
  <div class="row d-flex">
    <div class="card mb-3 col" style="max-width: 18rem">
      <h2 class="card-header">Unique total visitors</h2>
      <p class="card-body">
        <% let visitors = 0; let visitorsMob = 0; for(let count in counter){
        if(count.includes('new-visitors')){ %> <% count.includes('mobile') ?
        visitorsMob += parseInt(counter[count]) : visitors +=
        parseInt(counter[count])}} %> 
        <%- `<br>Total visitors desktop: ${visitors}` %>
        <%- `<br>Total visitors mobile: ${visitorsMob}` %>
        <%- `<br>Total visitors non-unique: ${visitorsTotal}` %>
      </p>
    </div>
    <div class="col">
      <div class="admin-rows d-flex">
        <div class="card mb-3" style="max-width: 18rem">
          <a href="/admin/newUpdate">
            <button class="w-100">
              <div class="card-header">new update</div>
            </button>
          </a>
        </div>
        <div class="card mb-3 m-auto" style="max-width: 18rem">
          <button id="startCreate">
            <div class="card-header">Get new manhwas</div>
          </button>
        </div>
        <div class="card mb-3 m-auto" style="max-width: 18rem">
          <button id="startUpdate">
            <div class="card-header">Update manhwa chapters</div>
          </button>
        </div>
        <div class="card mb-3 m-auto" style="max-width: 18rem">
          <button id="startBuild">
            <div class="card-header">Build json file</div>
          </button>
        </div>
        <div class="card mb-3 m-auto" style="max-width: 18rem">
          <button id="findSpecific">
            <div class="card-header">Find specific</div>
          </button>
        </div>
        <div class="card mb-3 m-auto" style="max-width: 18rem">
          <button id="getImages">
            <div class="card-header">Get all images</div>
          </button>
        </div>
      </div>
    </div>
  </div>
    <h1>Fetch Progress</h1>
    <div id="progress"></div>
  </div>
  <template id="progress-site">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuenow="10"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 0%"></div>
    </div>
  </template>
</div>
