<form action="/admin/newUpdate" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">title</label>
    <input type="title" class="form-control" name="title" />
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">content</label>
    <textarea class="form-control" name="content" rows="3"></textarea>
  </div>
  <button type="submit">Post</button>
</form>
