<!-- Modal -->
<div
  class="modal"
  id="modal-<%-manhwa.mid%>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-<%- manhwa.mid %>-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-<%- manhwa.mid %>-LongTitle">
          Later
        </h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning m-auto"
          data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary action-button m-auto"
          id="<%- manhwa.mid %>">
          Save Change
        </button>
      </div>
    </div>
  </div>
</div>
