<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
<script src="/js/lazysizes.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    window.scrollTo(0, 1);
  });
</script>
<footer class="bg-dark mt-auto align-items-center d-flex row py-2 me-0">
  <div class="row col-md-6 align-items-center">
    <a class="col-md-1 col-2" href="#">
      <img
        src="/favicon_io/android-chrome-192x192 copy.png"
        width="50"
        height="50"
        alt="" />
    </a>
    <span class="col text-body-secondary">© Hobby project, 07-2024</span>
    <span class="col-md text-body-secondary ps-3"
      >Contact: manhwasaver@gmail.com</span
    >
  </div>
  <div class="row col-md-6 align-items-center me-0 ps-3">
    <div class="col-md-6 text-body-secondary">
      <a href="/siteUpdates">Latest updates to site</a>
    </div>
    <div class="col-md-6 text-body-secondary me-0">
      <a href="/privacypolicy">Privacy Policy</a>
    </div>
  </div>
</footer>
