<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-slim.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<footer
  class="bg-dark mt-auto align-items-center d-flex row me-0"
  style="padding: 10px 0">
  <div class="row align-items-center">
    <span  class="col">
    <a href="/" aria-label="Back to home">
      <img
        src="/favicon_io/android-chrome-192x192.webp"
        width="50"
        height="50"
        alt="" />
    </a>
  </span>
    <span class="col text-body-secondary">Hobby project, 07-2024</span>
    <span class="col text-body-secondary">Contact: manhwasaver@gmail.com</span>
    <div class="col text-body-secondary">
      <a href="/siteUpdates" aria-label="Updates made to the website">
        Latest updates to site
      </a>
    </div>
</footer>
