<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-slim.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script src="/js/search.js" type="module"></script>
<script>
  if(!localStorage.getItem('manhwas') || <%- newBuild %>){
  let manhwas = <%- JSON.stringify(manhwasSearch) %>
  localStorage.setItem("manhwas", JSON.stringify(manhwas));
  }
  //document.addEventListener("DOMContentLoaded", (event) => {
    //window.scrollTo(0, 1);
  //});
</script>
<footer class="bg-dark mt-auto align-items-center d-flex row py-2 me-0">
  <div class="row col-md-6 align-items-center">
    <a class="col-md-1 col-2" href="#">
      <img
        src="/favicon_io/android-chrome-192x192 copy.webp"
        width="50"
        height="50"
        alt="" />
    </a>
    <span class="col text-body-secondary">© Hobby project, 07-2024</span>
    <span class="col-md text-body-secondary ps-3"
      >Contact: manhwasaver@gmail.com</span
    >
  </div>
  <div class="row col-md-6 align-items-center me-0 ps-3">
    <div class="col-md-6 text-body-secondary">
      <a href="/siteUpdates">Latest updates to site</a>
    </div>
    <div class="col-md-6 text-body-secondary me-0">
      <a href="/privacypolicy">Privacy Policy</a>
    </div>
  </div>
</footer>
