<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-slim.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script src="/js/search.min.js" type="module"></script>
<script>
  if(!localStorage.getItem('manhwas') || document.cookie.indexOf("newBuild=true") > -1){
    let manhwas = <%- JSON.stringify(manhwasSearch) %>
    localStorage.setItem("manhwas", JSON.stringify(manhwas));
    document.cookie = 'newBuild=false;SameSite=Lax';
    }
  document.addEventListener("DOMContentLoaded", (event) => {
    window.scrollTo(0, 1);
  });
</script>
<footer
  class="bg-dark mt-auto align-items-center d-flex row me-0"
  style="padding: 10px 0">
  <div class="row align-items-center">
    <a class="col" href="/">
      <img
        src="/favicon_io/android-chrome-192x192 copy.webp"
        width="50"
        height="50"
        alt="" />
    </a>
    <span class="col text-body-secondary">© Hobby project, 07-2024</span>
    <span class="col text-body-secondary">Contact: manhwasaver@gmail.com</span>
    <span class="col"
      ><a href="https://github.com/maikelbraas/manhwaApp" target="_blank">
        <button id="running" class="button">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Github
        </button>
      </a>
    </span>
    <div class="col text-body-secondary">
      <a href="/siteUpdates">Latest updates to site</a>
    </div>
    <div class="col text-body-secondary">
      <a href="/privacypolicy">Privacy Policy</a>
    </div>
    <div class="col text-body-secondary">
      <a href="/cookiepolicy">Cookie Policy</a>
    </div>
  </div>
</footer>
