<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="”robots”" content="”noindex,nofollow”" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site removed</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .container {
        text-align: center;
        background-color: #222;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        font-size: 2rem;
        color: #c1c1c1;
        margin-bottom: 0;
      }
      p {
        font-size: 1.2rem;
        color: #c1c1c1;
      }
      a {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Site removed.</h1>
      <p>Site has been removed on 23rd of August 2024</p>
      <p>Users that created an account have lost their account.</p>
      <p>Reason: Not allowed to have the site contents.</p>
    </div>
  </body>
</html>
