<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href="https://manwhasaver.com/page_not_found" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .container {
        text-align: center;
        background-color: #222;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        font-size: 4rem;
        color: #c1c1c1;
        margin-bottom: 0;
      }
      p {
        font-size: 1.2rem;
        color: #c1c1c1;
      }
      a {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>Oops! The page you're looking for doesn't exist.</p>
      <h2 style="color: #c1c1c1"><strong><%- url %></strong></h2>
      <p>
        Don't worry, you can
        <a onclick="window.history.go(-1); return false;"
          >return to the privious page</a
        >
        and start over.
      </p>
    </div>
  </body>
</html>
