<div class="container" style="height: 81.6vh">
  <form action="/changepassword" class="form-group row" method="POST">
    <% if(typeof info == 'undefined'){ %>
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username" id="" />
    <% }else{ %>
    <label for="username">Username: </label>
    <input
      type="text"
      class="form-control"
      name="username"
      id=""
      value="<%- info.username %>"
      readonly />
    <div><%- info.question %></div>
    <label for="password">Answer: </label>
    <input type="password" class="form-control" name="answer" id="" />
    <label for="password">Password: </label>
    <input type="password" class="form-control" name="password" id="" />
    <label for="password">Password Confirm: </label>
    <input type="password" class="form-control" name="confpassword" id="" />
    <% } %>
    <input
      type="submit"
      class="btn btn-primary"
      name="register"
      value="Get answer" />
  </form>
  <!-- <a href="/register">Not registered?</a> -->
</div>
