<div class="container">
  <form action="/login" class="form-group row" method="POST">
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username" id="" />
    <label for="password">Password: </label>
    <input type="password" class="form-control pass" name="password" id="" />
    <input
      type="submit"
      class="btn btn-primary mt-2"
      name="register"
      value="Login" />
  </form>
  <button id="showOrHide" class="btn btn-primary mt-2">Show</button>
</div>

<script>
  const passwordField = document.querySelector(".pass");
  document.getElementById("showOrHide").addEventListener("click", (event) => {
    if (event.target.innerHTML == "Show") {
      event.target.innerHTML = "Hide";
      passwordField.type = "text";
    } else if (event.target.innerHTML == "Hide") {
      event.target.innerHTML = "Show";
      passwordField.type = "password";
    }
  });
</script>
