<div class="container" style="height: 81.6vh">
  <form action="/login" class="form-group row" method="POST">
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username" id="" />
    <label for="password">Password: </label>
    <input type="password" class="form-control" name="password" id="" />
    <input
      type="submit"
      class="btn btn-primary"
      name="register"
      value="Login" />
  </form>
  <!-- <a href="/register">Not registered?</a> -->
</div>
