<div class="container h-100" style="align-content: center">
  <div class="card mb-3 m-auto" style="max-width: 18rem">
    <h2 class="card-header">Site removed.</h2>

    <p class="card-body">Site has been removed.</p>
    <p class="card-body">
      Users that created an account have lost their account.
    </p>
  </div>
</div>
