<div class="container">
  <form action="/register" class="form-group row" method="POST">
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username" id="" />
    <label for="password">Password: </label>
    <input type="password" class="form-control" name="password" id="" />
    <label for="password">Password Confirm: </label>
    <input type="password" class="form-control" name="confpassword" id="" />
    <input
      type="submit"
      class="btn btn-primary"
      name="register"
      value="Register" />
  </form>
</div>
